.btn {
  width: 100px;
  height: 37px;
  background: #070928;
  border-radius: 12px;
  font-family: "Hanuman";
  font-style: normal;
  font-size: 25px;
  margin: 0 40px 0 0;
  line-height: 47px;
  display: flex;
  text-align: center;
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
}
