.card {
  position: absolute;
  width: 1400px;
  height: 200px;
  left: 47px;
  top: 199px;
  background: #c2d2d3;
  border-radius: 0px 33px 33px 33px;
}
.btn {
  position: absolute;
  width: 295px;
  height: 70px;
  left: 1055px;
  color: white;
  top: 160px;
  display: flex;
  background: #070928;
  border-radius: 33px;
  justify-content: center;
  align-items: center;
}
.form_control1 {
  position: absolute;
  width: 715px;
  height: 60px;
  padding: 0px 320px 0 320px;
  left: 40px;
  top: 60px;
  background: #ffffff;
  border-radius: 33px;
}

.form_control2 {
  position: absolute;
  width: 262px;
  left: 820px;
  height: 60px;
  top: 60px;
  background: #ffffff;
  border-radius: 33px 0px 0px 33px;
}

.form_control3 {
  position: absolute;
  position: absolute;
  width: 262px;
  height: 60px;
  left: 1080px;
  top: 60px;
  background: #ffffff;
  border-radius: 0px 33px 33px 0px;
}
.btn1 {
  position: absolute;
  width: 226px;
  height: 97px;
  left: 0px;
  top: -96px;
  background: #c2d2d3;
  border-radius: 33px 0px 0px 0px;
  border: none;
}
.btn2 {
  position: absolute;
  width: 226px;
  height: 97px;
  left: 225px;
  top: -96px;
  color: white;
  background: #070928;
  border-radius: 0px 33px 0px 0px;
  border: none;
}
